body {
  background-color: #343642;
  padding: 0;
  margin: 0;
  display: flex;
}

::selection {
  background: #348899; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #348899; /* Gecko Browsers */
  color: white;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #343642;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -2;
}

#centered-box {
  color: white;
  margin: auto;
  align-self: center;
  width: 470px;
  display: flex;
  flex-direction: column;
}

#centered-box h1 {
  border-bottom: 3px solid white;
  margin: 0;
  color: white;
}

#centered-box h3 {
  margin: 10px 0;
  color: white;
}


#centered-box input[type=text] {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: 3px solid white;
  color: white;
  font-family: "mr-eaves-modern", sans-serif;
  font-size: 1.777em;
}

#centered-box input[type=submit] {
  width:50%;
  padding: 10px;
  font-size: 1.777em;
  background-color: white;
  border: none;
  margin: 10px 0;
  color: #343642;
  font-family: "mr-eaves-modern", sans-serif;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition: all 0.2s ease;
  cursor: pointer;
}

#centered-box div {
  display: flex;
}

#centered-box input[type=submit]:first-of-type {
  margin-right: 5px;
}

#centered-box input[type=submit]:last-of-type {
  margin-left: 5px;
}

#centered-box input[type=submit]:hover {
  border: 3px solid white;
  background-color: transparent;
  color: white;
}

#centered-box input[type=submit]:disabled {
  border: 3px solid transparent;
  background-color: #B5B5C6;
  color: white;
  cursor:not-allowed;
}

#slanted-bg {
  position: fixed;
  right: -10%;
  top: 0;
  height: 100vh;
  width: 75vw;
  background-color: white;
  z-index: -1;
  transform: skew(-10deg) !important;
}

.flex-right {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

#main-article {
  width:50%;
  padding: 4em 0;
}

#main-article header {
  margin-bottom: 2em;
}

#main-article section header {
  margin-bottom: 1em;
  border-bottom: 3px solid #343642;
}

#main-article section {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.full-width {
  width: 100% !important;
}

.element {
  width: 100px;
  height: 100px;
  border: 3px solid #343642;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-flow: center;
  float:right;
  margin: 10px;
}

.element h2 {
  padding: 0;
  margin: 0;
  align-self: center;
}

.element p {
  padding: 0;
  margin: 0 0 0 5px;
  align-self: flex-start;
}

.btn-next-page {
  background-color: #962D3E;
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: none;
  outline: none;
  transition: all 0.3s cubic-bezier(.87,-.41,.19,1.44);
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-next-page:hover {
  transform:scale(1.4);
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.47);
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #FFF;
}

#user-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 60px;
  background-color: white;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.9);
  overflow-x: hidden;
  margin: 2em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#user-box p {
  margin: 0;
}

#user-box p:first-of-type {
  color: #348899
}

#atom-large-wrap {
  position: fixed;
  right: -10%;
  top: 0;
  height: 100vh;
  width: 75vw;
  z-index: -2;
}

#atom-wrap {
  position: relative;
  top: 40%;
  right: 8%;
  background-color: #962D3E;
  color: white;
  height: 250px;
  width: 250px;
  border-radius: 125px;
}

#nucleus {
  position: relative;
  top: 50%;
  right: 50%;
}

#inner-ring {
  position: relative;
  top: -200px;
  right: 80%;
  animation-name: rotate;
  animation-duration: 36s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#outer-ring {
  position: relative;
  top: -950px;
  right: 120%;
  animation-name: rotate;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}



@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
