h1, h2{
    font-family: "futura-pt", sans-serif;
}

h3, h4 {
  font-family: "mr-eaves-modern", sans-serif;
}

h1 {
  font-size: 3.157em;
  font-weight: normal;
  color: #348899;
  margin: 0;
}

h2 {
  font-size: 2.369em;
  font-weight: normal;
  color: #343642;
  margin: 0;
}

h3 {
  font-size: 2em;
  font-weight: bold;
  color: #343642;
  margin: 0;
}

p {
  font-family: "mr-eaves-modern", sans-serif;
  font-size: 1.6em;
  color: #343642;
}

li {
  font-family: "mr-eaves-modern", sans-serif;
  font-size: 1.3em;
  color: #343642;
}

input[type=submit] {
  font-family: "mr-eaves-modern", sans-serif;
}

.uppercase {
  text-transform: uppercase;
}
