html
  head
    // Meta information
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Lets Learn Elements

    // Stylesheets
    link(rel='stylesheet', type='text/css', href='css/main.css')
    link(rel='stylesheet', type='text/css', href='css/type.css')
    link(rel='stylesheet', type='text/css', href='css/quiz.css')
    link(rel='stylesheet', type='text/css', href='css/animate.css')

    //JQuery
    script(src='js/jquery-3.1.1.min.js')
    script(src='js/intro-page.js')

    //Quiz
    script(src="js/quiz.js")

    // Typekit
    script(src='https://use.typekit.net/fvf8ojr.js')
    script.
      try{Typekit.load({ async: true });}catch(e){}

    // Particle-JS
    script(src='js/particles.min.js')
    script.
      particlesJS.load('particles-js', 'misc/particles.json', function() {
      console.log('particles.js config loaded');
      });

  body
    div#particles-js
    aside#user-box.animated.fadeInDown
      if firstname != null
        p#welcome= "Welcome, " + firstname +"!"
      else
        p#welcome Welcome, scientist!
      if points != null
        p#points= "Points: " + points
    div#atom-large-wrap
      div#atom-wrap.animated.zoomIn
        div#nucleus
        img(src="img/inner-ring.png")#inner-ring
        img(src="img/outer-ring.png")#outer-ring
    div#slanted-bg.animated.fadeInRight
    div.flex-right.animated.fadeInRight
      main#main-article
        header
          h1.uppercase Lets Learn Elements
          h2.uppercase And the Periotic Table
        section#answers
          article
            header
              h3 What is an element?
            p.
              To know what an element is you must know what an atom is. An atom
              is particle so small that you cannot see it, even with a microscope. An
              element is a substance that is made entirely from one type of atom.
            p.
              Currently there are over  <strong>100 different elements</strong> that we know of. All the
              atoms in an element are the same as each other, and different from the
              atoms in another element.
            div.element
              p 2
              h2 He
            p.
              An element is usually displayed in a similar way
              to the box on the right. The large letters in the
              middle is called the <strong>element symbol</strong>.
            p.
              The small number on the top left is the <strong>atomic
              number</strong>, which indicates how many protons are
              in the atom for that element. Often there are more numbers shown in
              the box, so be careful not to get confused about what each number
              stands for.

        section
          article.quiz
            header
              h3 Quiz
            div#quiz-cover
              button#cover-button Start Quiz!
            div#quiz-wrap
              p#question How many different elements are there?
                form#quiz-form
                  ul
                    li
                      input(type="submit", value="Submit")
                      button#return-button(type="button") Return
