html
  head
    // Meta information
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Lets Learn Elements

    // Stylesheets
    link(rel='stylesheet', type='text/css', href='css/main.css')
    link(rel='stylesheet', type='text/css', href='css/type.css')
    link(rel='stylesheet', type='text/css', href='css/animate.css')

    //JQuery
    script(src='js/jquery-3.1.1.min.js')
    script(src='js/intro-page.js')

    // Typekit
    script(src='https://use.typekit.net/fvf8ojr.js')
    script.
      try{Typekit.load({ async: true });}catch(e){}

    // Particle-JS
    script(src='js/particles.min.js')
    script.
      particlesJS.load('particles-js', 'misc/particles.json', function() {
      console.log('particles.js config loaded');
      });

  body
    div#particles-js
    div#slanted-bg
    div.flex-right
      article#main-article
        h1.uppercase Lets Learn Elements
        h2.uppercase And the Periotic Table
